<html>
    <head>
        <title>Balance</title>
    </head>
    <body>
        <div class="container">
            <form #form="ngForm" (ngSubmit)="balance(form.value)">
                <table>
                    <tr>
                        <td><label>Account Id : </label></td>
                        <td><input type="number" name="account" required ngModel></td>
                    </tr>
                    <tr>
                        <td><label>Password : </label></td>
                        <td><input type="password" name="password" required ngModel></td>
                    </tr>
                    <tr>
                        <td style="text-align: right"><input type="submit" value="Show Balance"></td>
                        <td><input type="reset"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="show" *ngIf=balanceAmount>
            Balance Rs.{{balanceAmount}}
        </div>
    </body>
</html>